# Виконайте завдання в цьому файлі і надішліть його у відповідь на пошту

In [1]:
# !pip install pandasql

In [2]:
from pandasql import sqldf

In [3]:
import pandas as pd

In [4]:
querydf = lambda q: sqldf(q, globals())

# Pandas

### 1. Для даних з файлу Task1.csv знайдіть всі мед. випадки, що стосуються новонароджених (діагноз починається з латинської "P"). Для них перевірте, чи в них коректно заповнений вік (до 1 року включно).
#### Створіть колонку isneonatal, яку заповніть значеннями True для валідних випадків з новонародженими і False в іншому разі.
У Task1.csv: id - ідентифікатор мед. випадку, age - вік пацієнта у роках, diagnosis_code - код діагноза

In [5]:
t1 = pd.read_csv("data/Task1.csv")
neonatal = t1.loc[t1["diagnosis_code"].str.startswith("P"), :].copy()
neonatal["isneonatal"] = (neonatal["age"] <= 1)
neonatal.sort_values(by="age", ascending=False).head(20)

                                        id   age diagnosis_code  isneonatal
227   a57acdbf-b82f-4a7c-b1ac-80e47d38dac8  67.0         P91.63       False
1138  23ba50e7-6d40-48d8-99e9-8b279fa9c370  48.0          P91.4       False
874   11c6214c-459c-4d2a-acf3-178eef1a6c31  40.0          P96.4       False
353   37dededa-b459-4e37-adea-9e5a327d220e  34.0          P01.9       False
833   eeb400ed-a970-4d73-8e53-218ae6857854  34.0          P96.0       False
221   b69180ba-ab71-408a-a263-a5fe94000982  30.0          P27.8       False
42    08585e77-58b8-4dfb-80f4-683935d5674b  27.0          P21.1       False
657   e8a90a8d-a291-4a8e-a466-469c1a501105  25.0          P91.4       False
845   6fcc4ec8-a6e9-40f2-b529-85471fffbd79  23.0          P55.1       False
0     27f8009e-6b7c-4280-8b62-7a0b83b22159   9.0          P14.0       False
572   3f927108-86ac-4623-95fe-b6c3ee5e9602   6.0          P83.5       False
585   799f040c-b428-4ab9-92b6-6976ee3717b0   4.0         P91.60       False
146   49474dda-4fac-4b31-9110-3004fcc1dcac   3.0          P29.3       False
900   c79bdd53-6b8e-4ac1-a9ec-c1ff65cdd829   2.0          P20.9       False
437   e42a8fb0-552c-4d75-9403-df9ea67da850   2.0          P94.2       False
1170  fcdbad45-56f8-47da-a16a-13415be493cc   1.0          P94.2        True
815   ae96c7a6-dd21-42df-acfb-c408620eabba   0.0         P07.22        True
825   85893d1e-5387-4263-9ace-4dcb05fc7f88   0.0          P37.9        True
812   b2367764-2013-4863-9315-85220c42af8f   0.0          P39.1        True
929   b0d20a34-2c66-495a-a7c1-d3ba2373818e   0.0          P91.8        True

### 2. Мед. заклади, що лікують туберкульоз, отримують щомісячне фінансування за наперед визначеним договором. Але умовою договору є наявність ліцензії на мед. практику, тому НСЗУ оплачує тільки ті дні, в які була дійсна ліцензія.

У Task2.csv: edrpou - код ЄДРПОУ заклада, date - дата, has_practice - індикатор, чи була в цей день у цього закладу дійсна мед. ліцензія
#### Порахуйте для кожного закладу частку днів, в які була дійсна ліцензія

In [6]:
t2 = pd.read_csv("data/Task2.csv", parse_dates=["date"])
t2.groupby("edrpou")["has_practice"].mean()

edrpou
583867      0.903226
710206      0.580645
28924380    0.806452
36183874    0.129032
48270532    0.580645
60203807    0.903226
87493988    0.129032
98730183    0.354839
98890137    0.806452
99900152    1.000000
Name: has_practice, dtype: float64

_На виході має вийти наступне:_

edrpou
583867      0.903226
710206      0.580645
28924380    0.806452
36183874    0.129032
48270532    0.580645
60203807    0.903226
87493988    0.129032
98730183    0.354839
98890137    0.806452
99900152    1.000000
Name: has_practice, dtype: float64

# SQL

## Для виконання завдань по SQL використайте функцію querydf з аргументом q

_Приклад використання для даних з_ **Task3.csv**:

In [8]:
df = pd.read_csv('Task3.csv')

In [9]:
q = "select * from df where diagnosis_code = 'N40'"
querydf(q)

                                      id  ... diagnosis_code
0   a775f995-cc76-43d2-b0f9-62a2cf4b878d  ...            N40
1   79a6b980-dde2-48f3-8785-4b6b99dab440  ...            N40
2   9bdab22e-e2aa-4cf1-acbc-c7c634b31221  ...            N40
3   71fb7bd8-12e4-42cd-888e-b96258bfd748  ...            N40
4   1507571e-346d-40dc-9af4-8414818b4d8c  ...            N40
5   2e0df61b-ced9-44e8-b0fe-0ff8996d9730  ...            N40
6   6f585b9b-2627-4360-b844-69f016c116d1  ...            N40
7   79399d3a-73e0-42d1-ab7a-c313a5e3e429  ...            N40
8   1d96b6b1-4f64-4df2-b03e-4c20e9e955ef  ...            N40
9   188f67ca-8c39-4c89-88a1-3ca8ae50b0f4  ...            N40
10  b5f041dc-87fd-4067-8468-1dd48630b109  ...            N40
11  f1ba1a0e-a229-4782-914a-420bb8f28527  ...            N40
12  5a9f4630-990b-4b10-ac5a-54d5565351d9  ...            N40
13  e411ebe7-f9f6-44cb-8c13-853bf13a6724  ...            N40

[14 rows x 3 columns]

### 3. Напишіть sql запит, щоб відфільтрувати серед мед. записів з Task3.csv всі записи за травень

У Task3.csv: id - ідентифікатор мед. запису, date - дата випадку, diagnosis_code - код діагноза

In [10]:
t3 = pd.read_csv("data/Task3.csv", parse_dates=["date"])
q = "select * from t3 where strftime('%m', date) == '05'"
querydf(q).head()

                                     id  ... diagnosis_code
0  a775f995-cc76-43d2-b0f9-62a2cf4b878d  ...            N40
1  2d3315bb-fa4f-4f0a-a998-ebda79bd6837  ...         M19.88
2  bfa68d5c-bab4-4844-a83f-8023882520ce  ...         E10.71
3  3675297b-22ef-437f-bb41-91e54ea5f827  ...          H25.0
4  67ae0828-5bb0-4a2d-8166-9e8713755ad3  ...         S42.20

[5 rows x 3 columns]

### 4. У файлі Task4.csv наведені дані по виписаним електронним направленням до лікаря. Деякі пацієнти отримали вже декілька направлень. Напишіть sql запит, який повертає список пацієнтів, які отримали більше 5 направлень, і кількість направлень, які вони отримали

У Task4.csv: request_id - ідентифікатор направлення, patient_id - ідентифікатор пацієнта

In [11]:
t4 = pd.read_csv("data/Task4.csv")
q = """ select patient_id, count(request_id)
        from t4        
        group by patient_id
        having count(request_id) > 5"""
querydf(q).head()

                                          patient_id  count(request_id)
0  033A0656200DF275B082C33033FF400429CC2E25155671...                  6
1  0488F500C1332E6977E21C603900CBAA01A1B76A57FA32...                  6
2  0A64EC8D80D6919E9CFB338E1B4E3998E785D405A27885...                  6
3  10AE2F9D74AFC7DFD9308C8344BB331799600E623C3808...                  6
4  14184622CC44525E8D7572E90A5224A94648CA50864370...                  7