In [1]:
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit

## Reading data

In [2]:
train_df = (pd.read_csv("https://raw.githubusercontent.com/woldemarg/ds_tests/master/machine_learning/company_3/task_solution/data/train_df.csv",
                        sep="\t",
                        index_col=0)
            .reset_index(drop=True))

In [3]:
train_df.head()

    num_1   num_2  num_3   num_4   num_5  ...  num_416  cat_134  cat_135  id  gb
0  1377.3  3712.9    NaN  1303.0  2409.0  ...     0.07        1        1   1   0
1    20.0    13.4    NaN   565.0     NaN  ...     0.56        2        1   2   0
2   150.6     1.8    NaN  2294.0    15.0  ...     0.01        3        1   3   0
3    11.4   178.0    NaN  1236.0     NaN  ...     0.08        4        1   4   0
4  5372.0  3386.0    NaN  1340.0     NaN  ...     0.20        1        1   5   0

[5 rows x 553 columns]

In [4]:
train_df["gb"].value_counts()

0    26231
1      593
Name: gb, dtype: int64

So we have a comparatively big dataset with no technical description of features. Neither can we guess their meaning from a general context, as all the values are encoded. It should be noted that the target is highly imbalanced. For further analysis, we are going to extract a small representative sample.

## Getting stratified sample

In [5]:
strata_split = StratifiedShuffleSplit(n_splits=1,
                                      test_size=0.25,
                                      random_state=1234)

for train_idx, test_idx in strata_split.split(train_df,
                                              train_df["gb"]):
    strata_sample = train_df.reindex(test_idx)

In [6]:
strata_sample["gb"].value_counts()

0    6558
1     148
Name: gb, dtype: int64

In [7]:
# strata_sample.to_csv("machine_learning/company_3/task_solution/derived/sample.csv",
#                     index=False)

Now we are ready to buid and evaluate a simple baseline model - see [next notebook](https://github.com/woldemarg/ds_tests/blob/master/machine_learning/company_3/task_solution/scripts/notebooks/sample_model.ipynb)